In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

import pandas as pd
import numpy as np

In [2]:
file_path = "../Nelson/HOF_stats.csv"
hof_df = pd.read_csv(file_path)
hof_df = hof_df.copy()
hof_df.head()

# if the season doesn't contain a -, delete the row

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (67,71,73,81,87,88,90,93,94,111,117,120,141,145,146,147,148,150,152,155,184,190,218,224,227,292,298,301,542,591,597,600,621,625,627,662,668,670,687,691,693,726,732,734,753,757,759,816,820,822,824,826,831,833,838,841,844,863,867,869,873,896,898,904,908,912,921,930,933,937,946) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,...,Unnamed: 98,Unnamed: 98_x,Unnamed: 98_y,Unnamed: 99,Unnamed: 99_x,Unnamed: 99_y,VORP,WS,WS/48,eFG%
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.2,0.200,NaN
1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.5,0.173,NaN
2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.1,0.155,NaN
3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.2,0.157,NaN
4,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.1,0.187,NaN

In [3]:
# for col in hof_df.columns:
#     print(col)
to_remove = [c for c in hof_df.columns if "Unnamed" in c]
# to_remove

hof_df.drop(to_remove, axis=1, inplace= True)

to_remove2 = [d for d in hof_df.columns if "_x" in d]

hof_df.drop(to_remove2, axis=1, inplace= True)

hof_df.head()

# for col in df.columns:
#     print(col)

,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,Age_y,...,TOV%,TRB,TRB%,TS%,Tm_y,USG%,VORP,WS,WS/48,eFG%
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN,24.0,...,NaN,419.0,NaN,0.465,MNL,NaN,NaN,5.2,0.200,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,NaN,25.0,...,NaN,802.0,NaN,0.479,MNL,NaN,NaN,8.5,0.173,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164,NaN,26.0,...,NaN,992.0,NaN,0.484,MNL,NaN,NaN,8.1,0.155,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139,NaN,27.0,...,NaN,932.0,NaN,0.471,MNL,NaN,NaN,8.2,0.157,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134,NaN,28.0,...,NaN,862.0,NaN,0.483,CIN,NaN,NaN,10.1,0.187,NaN

In [4]:
file_path = "../Nelson/Active_roster_stats.csv"
ars_df = pd.read_csv(file_path)
ars_df = ars_df.copy()
ars_df.head()

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (548,556,559,583,587,589,622,628,630,649,653,655) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,...,Unnamed: 97_x,Unnamed: 97_y,Unnamed: 98_x,Unnamed: 98_y,Unnamed: 99_x,Unnamed: 99_y,VORP,WS,WS/48,eFG%
0,0,146,0.507,288,46.0,0.341,135.0,0.319,64,7.2,...,NaN,NaN,NaN,NaN,NaN,NaN,-0.7,1.5,0.053,0.508
1,1,252,0.507,497,121.0,0.395,306.0,0.381,114,8.5,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,4.5,0.100,0.540
2,2,273,0.529,516,95.0,0.344,276.0,0.348,100,7.7,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3.0,0.076,0.525
3,3,114,0.567,201,40.0,0.374,107.0,0.347,47,10.7,...,NaN,NaN,NaN,NaN,NaN,NaN,0.6,2.3,0.153,0.565
4,4,785,0.523,1502,302.0,0.367,824.0,0.354,325,8.2,...,NaN,NaN,NaN,NaN,NaN,NaN,0.9,11.3,0.088,0.532

In [5]:
# for col in ars_df.columns:
#     print(col)
to_remove = [c for c in ars_df.columns if "Unnamed" in c]
# to_remove

ars_df.drop(to_remove, axis=1, inplace= True)

to_remove2 = [d for d in ars_df.columns if "_x" in d]

ars_df.drop(to_remove2, axis=1, inplace= True)

players = ars_df["Player"]
ars_df.head()
# for col in df.columns:
#     print(col)

,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,Age_y,...,TOV%,TRB,TRB%,TS%,Tm_y,USG%,VORP,WS,WS/48,eFG%
0,146,0.507,288,46.0,0.341,135.0,0.319,64,7.2,20.0,...,12.5,220,9.1,0.539,BOS,18.1,-0.7,1.5,0.053,0.508
1,252,0.507,497,121.0,0.395,306.0,0.381,114,8.5,21.0,...,12.0,346,8.8,0.562,BOS,21.4,1.0,4.5,0.100,0.540
2,273,0.529,516,95.0,0.344,276.0,0.348,100,7.7,22.0,...,10.1,313,8.7,0.547,BOS,22.1,0.0,3.0,0.076,0.525
3,114,0.567,201,40.0,0.374,107.0,0.347,47,10.7,23.0,...,10.0,145,10.8,0.592,BOS,23.1,0.6,2.3,0.153,0.565
4,785,0.523,1502,302.0,0.367,824.0,0.354,325,8.2,NaN,...,11.2,1024,9.1,0.557,NaN,21.1,0.9,11.3,0.088,0.532

In [6]:
file_path = "../Nelson/MVP_stats.csv"
mvp_df = pd.read_csv(file_path)
mvp_df = mvp_df.copy()
mvp_df.head()

,Unnamed: 0,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,...,Unnamed: 97_x,Unnamed: 97_y,Unnamed: 98_x,Unnamed: 98_y,Unnamed: 99_x,Unnamed: 99_y,VORP,WS,WS/48,eFG%
0,0,132,0.440,300,41,0.347,118,0.282,150,12.1,...,NaN,NaN,NaN,NaN,NaN,NaN,0.1,1.2,0.031,0.463
1,1,376,0.511,736,7,0.159,44,0.056,207,13.1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.6,6.2,0.117,0.496
2,2,485,0.537,904,28,0.257,109,0.108,345,20.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3.2,7.1,0.121,0.520
3,3,607,0.563,1079,49,0.272,180,0.143,434,26.6,...,NaN,NaN,NaN,NaN,NaN,NaN,6.9,12.4,0.210,0.541
4,4,699,0.554,1262,43,0.307,140,0.100,361,23.7,...,NaN,NaN,NaN,NaN,NaN,NaN,5.4,11.9,0.207,0.545

In [7]:
to_remove = [c for c in mvp_df.columns if "Unnamed" in c]
# to_remove

mvp_df.drop(to_remove, axis=1, inplace= True)

to_remove2 = [d for d in mvp_df.columns if "_x" in d]

mvp_df.drop(to_remove2, axis=1, inplace= True)

players = mvp_df["Player"]
mvp_df.head()

,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,Age_y,...,TOV%,TRB,TRB%,TS%,Tm_y,USG%,VORP,WS,WS/48,eFG%
0,132,0.440,300,41,0.347,118,0.282,150,12.1,19.0,...,19.4,339,10.2,0.518,MIL,15.0,0.1,1.2,0.031,0.463
1,376,0.511,736,7,0.159,44,0.056,207,13.1,20.0,...,15.6,542,12.2,0.552,MIL,19.6,1.6,6.2,0.117,0.496
2,485,0.537,904,28,0.257,109,0.108,345,20.0,21.0,...,14.8,612,12.4,0.566,MIL,22.3,3.2,7.1,0.121,0.520
3,607,0.563,1079,49,0.272,180,0.143,434,26.6,22.0,...,13.3,700,14.3,0.599,MIL,28.3,6.9,12.4,0.210,0.541
4,699,0.554,1262,43,0.307,140,0.100,361,23.7,23.0,...,11.7,753,16.0,0.598,MIL,31.2,5.4,11.9,0.207,0.545

In [46]:
master_df = hof_df.append(ars_df).append(mvp_df)

master_df.head()

,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,Age_y,...,TOV%,TRB,TRB%,TS%,Tm_y,USG%,VORP,WS,WS/48,eFG%
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN,24.0,...,NaN,419.0,NaN,0.465,MNL,NaN,NaN,5.2,0.200,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,NaN,25.0,...,NaN,802.0,NaN,0.479,MNL,NaN,NaN,8.5,0.173,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164,NaN,26.0,...,NaN,992.0,NaN,0.484,MNL,NaN,NaN,8.1,0.155,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139,NaN,27.0,...,NaN,932.0,NaN,0.471,MNL,NaN,NaN,8.2,0.157,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134,NaN,28.0,...,NaN,862.0,NaN,0.483,CIN,NaN,NaN,10.1,0.187,NaN

In [47]:
master_df = master_df.drop_duplicates(subset=['Player', 'Season'], keep='first')
master_df = master_df.dropna(subset = ["Age_y"])
master_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3584 entries, 0 to 206
Data columns (total 51 columns):
2P        3378 non-null float64
2P%       3359 non-null float64
2PA       3378 non-null float64
3P        3173 non-null float64
3P%       2953 non-null float64
3PA       3173 non-null float64
3PAr      3162 non-null float64
AST       3584 non-null int64
AST%      3454 non-null float64
Age_y     3584 non-null float64
BLK       3300 non-null float64
BLK%      3299 non-null float64
BPM       3295 non-null float64
DBPM      3295 non-null float64
DRB       3328 non-null float64
DRB%      3313 non-null float64
DWS       3584 non-null float64
FG        3584 non-null int64
FG%       3573 non-null float64
FGA       3584 non-null int64
FT        3584 non-null int64
FT%       3522 non-null float64
FTA       3584 non-null int64
FTr       3573 non-null float64
GS        3052 non-null float64
G_y       3584 non-null int64
Lg_y      3584 non-null object
MP_y      3567 non-null float64
OBPM      3295 non-null float64
ORB       3330 non-null float64
ORB%      3313 non-null float64
OWS       3584 non-null float64
PER       3566 non-null float64
PF        3584 non-null int64
PTS       3584 non-null int64
Player    3584 non-null object
Pos_y     3574 non-null object
STL       3297 non-null float64
STL%      3296 non-null float64
Season    3584 non-null object
TOV       3237 non-null float64
TOV%      3230 non-null float64
TRB       3572 non-null float64
TRB%      3386 non-null float64
TS%       3574 non-null float64
Tm_y      3584 non-null object
USG%      3236 non-null float64
VORP      3295 non-null float64
WS        3584 non-null float64
WS/48     3566 non-null float64
eFG%      3367 non-null float64
dtypes: float64(38), int64(8), object(5)
memory usage: 1.4+ MB

In [48]:
to_rename = {"Age_y":"Age", "G_y":"G",
             "Lg_y":"Lg", "MP_y": "MP",
             "Pos_y": "Pos", "Tm_y":"Tm"}
master_df = master_df.rename(columns=to_rename)
master_df.head()

,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,Age,...,TOV%,TRB,TRB%,TS%,Tm,USG%,VORP,WS,WS/48,eFG%
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51,NaN,24.0,...,NaN,419.0,NaN,0.465,MNL,NaN,NaN,5.2,0.200,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100,NaN,25.0,...,NaN,802.0,NaN,0.479,MNL,NaN,NaN,8.5,0.173,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,164,NaN,26.0,...,NaN,992.0,NaN,0.484,MNL,NaN,NaN,8.1,0.155,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,139,NaN,27.0,...,NaN,932.0,NaN,0.471,MNL,NaN,NaN,8.2,0.157,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134,NaN,28.0,...,NaN,862.0,NaN,0.483,CIN,NaN,NaN,10.1,0.187,NaN

In [49]:
master_df["GT"] = master_df.sum(numeric_only=True, axis=1)
idx = ["Player", "Season"]
career_best_df = master_df.groupby(["Player"]).max()
career_best_df

,2P,2P%,2PA,3P,3P%,3PA,3PAr,AST,AST%,Age,...,TRB,TRB%,TS%,Tm,USG%,VORP,WS,WS/48,eFG%,GT
Player,,,,,,,,,,,,,,,,,,,,,
Aaron Gordon,349.0,0.531,699.0,121.0,0.349,347.0,0.395,289,16.6,24.0,...,574.0,15.1,0.541,ORL,24.7,2.0,5.4,0.139,0.509,9533.940
Aaron Holiday,62.0,0.459,135.0,43.0,0.393,127.0,0.485,87,19.3,23.0,...,67.0,6.4,0.518,IND,21.9,0.1,0.9,0.074,0.500,2289.161
Abdel Nader,59.0,0.513,115.0,32.0,0.467,100.0,0.511,26,7.1,26.0,...,116.0,8.6,0.644,OKC,17.3,0.0,0.9,0.091,0.608,2136.720
Admiral Schofield,3.0,1.000,3.0,4.0,0.444,9.0,0.750,1,1.6,22.0,...,11.0,7.9,0.799,WAS,9.1,-0.1,0.1,0.048,0.750,266.607
Adrian Dantley,907.0,0.580,1620.0,2.0,0.333,11.0,0.060,324,18.8,34.0,...,620.0,11.3,0.661,UTA,30.0,5.7,14.6,0.235,0.580,14609.969
Al Horford,573.0,0.604,1054.0,97.0,1.000,256.0,0.346,339,24.4,33.0,...,799.0,18.0,0.605,PHI,24.7,4.4,10.9,0.183,0.586,10202.791
Al-Farouq Aminu,221.0,0.514,455.0,126.0,0.369,349.0,0.582,138,8.8,29.0,...,610.0,16.9,0.568,POR,17.3,1.7,5.8,0.121,0.514,7331.102
Alec Burks,330.0,0.480,688.0,61.0,0.405,168.0,0.354,212,16.9,28.0,...,257.0,10.6,0.559,UTA,25.9,0.5,3.2,0.092,0.491,7716.560
Alex Caruso,53.0,0.516,123.0,24.0,0.480,50.0,0.434,77,19.7,25.0,...,67.0,6.5,0.569,LAL,19.0,0.2,1.0,0.093,0.531,1865.388
Alex English,961.0,0.553,1905.0,4.0,0.600,15.0,0.008,433,21.6,37.0,...,655.0,13.4,0.596,TOT,30.5,5.0,10.3,0.166,0.551,14530.645
Alex Len,263.0,0.612,617.0,74.0,0.363,204.0,0.315,97,9.3,26.0,...,594.0,19.8,0.612,PHO,22.1,1.0,4.5,0.154,0.567,6731.855
Alfonzo McKinnie,92.0,0.833,157.0,42.0,0.356,118.0,0.600,31,4.0,27.0,...,247.0,13.1,0.643,TOR,16.0,0.0,2.1,0.100,0.633,3140.529
Alize Johnson,5.0,0.455,14.0,1.0,0.500,2.0,0.125,2,7.3,23.0,...,19.0,17.8,0.509,IND,16.0,0.0,0.1,0.150,0.455,277.130
Allen Crabbe,199.0,0.552,393.0,201.0,0.444,532.0,0.694,117,8.7,27.0,...,324.0,7.8,0.602,POR,19.0,0.7,4.3,0.098,0.572,7109.061
Allen Iverson,743.0,0.494,1637.0,155.0,0.360,455.0,0.303,596,37.6,34.0,...,344.0,6.9,0.567,TOT,37.8,5.1,11.8,0.190,0.488,14690.403
Alonzo Mourning,652.0,0.599,1180.0,11.0,0.333,34.0,0.031,159,11.4,37.0,...,805.0,19.6,0.615,TOT,30.6,4.6,12.9,0.226,0.597,11982.583
Amile Jefferson,10.0,0.750,16.0,0.0,NaN,0.0,0.000,3,19.3,26.0,...,21.0,16.5,0.692,ORL,15.0,0.1,0.4,0.258,0.750,369.400
Andre Drummond,556.0,0.625,1054.0,5.0,0.500,38.0,0.038,237,14.3,26.0,...,1247.0,28.0,0.599,DET,24.5,5.0,10.3,0.189,0.623,11560.303
Andre Iguodala,481.0,0.652,970.0,101.0,0.394,307.0,0.477,472,26.4,35.0,...,529.0,9.8,0.624,PHI,23.8,5.2,9.6,0.167,0.605,11694.319
Anfernee Simons,60.0,0.529,120.0,38.0,0.345,110.0,0.478,40,13.7,20.0,...,50.0,4.9,0.535,POR,24.3,-0.2,0.5,0.044,0.524,1905.967
Anthony Davis,730.0,0.558,1392.0,55.0,0.341,162.0,0.184,218,19.0,26.0,...,884.0,18.8,0.612,NOP,32.6,5.7,14.0,0.289,0.552,13449.135
Anthony Tolliver,143.0,0.568,297.0,159.0,0.436,365.0,0.830,90,12.1,34.0,...,320.0,12.5,0.663,TOT,17.8,1.5,5.3,0.146,0.632,5123.954
Antonius Cleveland,5.0,0.294,17.0,3.0,0.750,4.0,0.190,2,2.2,23.0,...,14.0,6.3,0.486,TOT,11.1,-0.1,0.0,-0.006,0.452,386.600
Arnie Risen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,158,NaN,33.0,...,841.0,NaN,0.488,ROC,NaN,NaN,10.6,0.157,NaN,6830.460
Aron Baynes,207.0,0.667,425.0,27.0,0.397,68.0,0.466,93,18.5,33.0,...,434.0,17.0,0.655,SAS,21.9,0.6,4.1,0.205,0.634,5018.952
Artis Gilmore,806.0,0.670,1401.0,1.0,1.000,6.0,0.007,329,14.0,38.0,...,1538.0,20.6,0.702,TOT,25.3,7.1,19.8,0.259,0.670,15506.068
Arvydas Sabonis,377.0,0.574,711.0,49.0,0.500,132.0,0.201,218,19.3,38.0,...,729.0,19.3,0.617,POR,25.5,3.8,9.7,0.233,0.572,9321.903
Austin Rivers,212.0,0.522,445.0,136.0,0.378,360.0,0.582,242,18.7,27.0,...,162.0,5.6,0.545,TOT,21.3,0.6,2.5,0.065,0.518,6640.940
Avery Bradley,310.0,0.600,660.0,147.0,0.407,407.0,0.403,158,11.9,29.0,...,334.0,10.1,0.555,TOT,26.1,1.4,4.8,0.090,0.533,8123.861
Bailey Howell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232,10.2,34.0,...,1111.0,12.4,0.589,PHI,NaN,NaN,14.0,0.226,NaN,9818.181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Tyler Herro,72.0,0.483,149.0,48.0,0.369,130.0,0.466,46,10.5,20.0,...,92.0,7.6,0.546,MIA,22.0,-0.2,0.7,0.052,0.516,2351.060
Tyler Johnson,264.0,0.529,574.0,119.0,0.380,324.0,0.495,233,16.6,27.0,...,293.0,8.1,0.579,TOT,20.9,1.9,5.8,0.128,0.541,7409.397
Tyson Chandler,377.0,0.765,604.0,0.0,0.000,2.0,0.010,84,6.8,37.0,...,928.0,22.6,0.740,TOT,18.1,3.6,10.3,0.220,0.765,8919.757
Tyus Jones,145.0,0.528,320.0,45.0,0.356,129.0,0.403,327,32.5,23.0,...,134.0,5.2,0.572,MIN,16.5,0.9,3.6,0.117,0.526,4423.806
Udonis Haslem,353.0,1.000,713.0,2.0,0.200,12.0,0.533,108,9.2,39.0,...,726.0,19.4,0.906,MIA,21.9,2.6,9.2,0.303,1.000,8270.524
Vern Mikkelsen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,181,NaN,30.0,...,805.0,NaN,0.508,MNL,NaN,NaN,13.2,0.270,NaN,7741.455
Victor Oladipo,479.0,0.528,908.0,161.0,0.371,434.0,0.378,327,25.2,26.0,...,390.0,9.8,0.577,ORL,30.1,4.5,8.2,0.155,0.537,10972.241
Vince Carter,693.0,0.513,1460.0,162.0,0.408,437.0,0.675,393,28.0,43.0,...,492.0,9.3,0.571,TOT,32.5,6.8,12.9,0.208,0.550,13445.816
Vincent Poirier,7.0,0.500,14.0,0.0,NaN,0.0,0.000,3,10.0,26.0,...,15.0,18.0,0.504,BOS,17.5,0.0,0.1,0.141,0.500,314.888
Vlade Divac,475.0,0.570,904.0,21.0,0.357,75.0,0.092,432,28.7,36.0,...,851.0,18.2,0.606,SAC,20.6,5.1,9.5,0.173,0.569,10780.994
Vlatko Čančar,0.0,NaN,0.0,0.0,NaN,0.0,NaN,0,0.0,22.0,...,0.0,0.0,NaN,DEN,0.0,0.0,0.0,0.031,NaN,14.431
Walt Bellamy,NaN,NaN,NaN,NaN,NaN,NaN,NaN,262,11.8,35.0,...,1500.0,17.9,1.042,TOT,NaN,1.4,16.3,0.233,NaN,12242.205
Wayne Ellington,164.0,0.541,374.0,227.0,0.424,579.0,0.852,105,10.2,32.0,...,218.0,6.9,0.588,TOT,18.5,1.0,4.5,0.105,0.569,5927.237
Wendell Carter,174.0,0.598,339.0,6.0,0.188,32.0,0.086,78,10.7,20.0,...,307.0,17.6,0.609,CHI,19.1,0.5,2.8,0.168,0.568,4083.783
Wenyen Gabriel,4.0,0.500,8.0,1.0,0.125,8.0,0.500,3,9.1,22.0,...,8.0,9.7,0.401,SAC,21.4,0.0,0.0,-0.028,0.344,262.274
Wes Unseld,526.0,0.577,1015.0,2.0,0.500,4.0,0.009,404,18.5,34.0,...,1491.0,19.8,0.599,WSB,13.6,5.6,11.1,0.175,0.577,10412.229
Wesley Matthews,286.0,0.558,601.0,201.0,0.407,525.0,0.681,210,13.6,33.0,...,289.0,6.0,0.600,UTA,21.3,3.1,8.2,0.147,0.574,9028.136
Will Barton,313.0,0.510,658.0,156.0,0.408,422.0,0.426,331,18.5,29.0,...,476.0,11.2,0.562,TOT,23.0,2.0,6.2,0.162,0.535,9209.269
Willie Cauley-Stein,411.0,0.567,761.0,3.0,0.500,12.0,0.016,194,13.7,26.0,...,678.0,15.8,0.588,SAC,21.8,2.3,6.7,0.146,0.563,8204.978
Willy Hernangómez,242.0,0.566,450.0,15.0,0.417,39.0,0.273,96,11.5,25.0,...,502.0,20.7,0.604,TOT,22.1,0.7,3.4,0.174,0.570,5234.983
Wilson Chandler,372.0,0.527,740.0,139.0,0.413,406.0,0.579,170,12.0,31.0,...,475.0,11.6,0.556,TOT,22.7,1.3,3.9,0.137,0.526,9184.283
Yao Ming,565.0,0.552,1031.0,1.0,1.000,2.0,0.002,137,12.3,30.0,...,761.0,17.5,0.618,HOU,33.5,3.3,11.4,0.220,0.552,10797.752
Yogi Ferrell,177.0,0.540,371.0,134.0,0.386,359.0,0.492,201,23.2,26.0,...,249.0,6.1,0.556,TOT,19.6,0.6,3.0,0.100,0.518,6596.727
Zach Collins,149.0,0.534,279.0,40.0,0.429,121.0,0.391,71,9.3,22.0,...,324.0,12.7,0.624,POR,16.6,0.7,2.9,0.104,0.553,4530.091
Zach LaVine,410.0,0.515,814.0,123.0,0.406,321.0,0.437,283,24.0,24.0,...,294.0,7.7,0.576,MIN,30.5,1.1,3.0,0.085,0.544,9261.346
Zach Norvell,0.0,0.000,1.0,0.0,NaN,0.0,0.000,0,0.0,22.0,...,1.0,11.1,0.000,LAL,8.5,0.0,0.0,-0.148,0.000,34.452
Zelmo Beaty,729.0,0.555,1346.0,2.0,0.500,7.0,0.005,174,8.4,35.0,...,1190.0,17.4,0.612,UTS,22.8,1.8,16.0,0.264,0.555,13575.059
Zhaire Smith,8.0,0.444,18.0,6.0,0.375,16.0,0.471,10,12.3,19.0,...,13.0,6.2,0.533,PHI,16.4,-0.1,0.1,0.048,0.500,410.568
Zylan Cheatham,1.0,0.333,3.0,0.0,0.000,1.0,0.250,1,6.3,24.0,...,3.0,8.0,0.250,NOP,10.3,-0.1,-0.1,-0.145,0.250,103.588
Šarūnas Marčiulionis,488.0,0.559,902.0,64.0,0.408,157.0,0.404,243,19.5,32.0,...,221.0,7.0,0.618,SEA,27.5,1.6,6.4,0.170,0.547,8569.392

In [51]:
engine = create_engine("sqlite:///Data-Dunks.sqlite")

master_df.to_sql(name='master', con=engine, if_exists='replace', index=False)

In [50]:
engine = create_engine("sqlite:///Data-Dunks.sqlite")

career_best_df.to_sql(name='career_best', con=engine, if_exists='replace', index=False)